{{#transition-group transition-class="container"}}
<div class="container">
  <div class="question-banner">
    <h1>Question IQ</h1>
    <hr class="intro-divider">
  </div>
    <div class="row">
      <div class="col-lg-11 question-box">
        {{show-question question=model}}
      </div>
      <div class="col-lg-1">
        <div class="triangle-right" {{action 'getQuestion'}}>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 question-stats">
        <p> | <span><a {{action "incrementReceivedCount" }}>+</a></span> <span>Bangarangs have been asked this question {{model.receivedCount}} times</span>
        |</p>
      </div>
    </div>

    <div class="row">
        {{#if isAnswering}}
        <div class="col-lg-12 userInput">
          {{show-question-form submit=(action 'submit')}}
        </div>
        {{else}}
          {{#transition-group transition-class="container"}}
          <div class="col-lg-6 userInput">
          <div id="userAnswer" class="content-box">
            {{{userAnswer.content}}}
          </div>
          </div>
          {{/transition-group}}
        {{/if}}

        {{#unless isAnswering}}
          {{#transition-group transition-class="container"}}
          <div class="col-lg-6 previousAnswers">
          {{#each answers as |answer|}}
            {{#if answer.approved }}
            <div class="row">
              <div class="col-sm-4 drew-box">
                 <p>Votes: {{answer.voteCount}}
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   Likes: {{answer.voteScore}}</p>
               </div>

              <div class="col-lg-10 content-box previousAnswer">
                <p>{{{answer.content}}}</p>

                <a {{action 'showComments'}}>Show Feedback</a>

                {{#if commentShow }}
                  {{#each answer.comments as |comment|}}
                    <div class="comment">
                      {{comment.content}}
                    </div>
                  {{/each}}

                  <form class="comment-form">
                    {{textarea value=newComment cols="9" rows="2"}}<br>
                    <button class="btn btn-default submit-button" {{action 'submitComment' newComment answer}}>Comment</button>
                  </form>

                {{/if}}
              </div>

              <div class="col-lg-1">
                <div class="triangle-up" id="up-{{answer.id}}" {{action "upVote" answer}}>
                </div>
                <div class="triangle-down" id="down-{{answer.id}}" {{action "downVote" answer}}>
                </div>
              </div>
            </div>
            {{/if}}
          {{/each}}
          </div>
          {{/transition-group}}
        {{/unless}}

      {{outlet}}
    </div>
</div>
{{/transition-group}}
