<div class="container">
    <div class="row">
      <div class="col-lg-11 content-box">
        <h1 class="question">{{model.content}}</h1>
      </div>
      <div class="col-lg-1">
        <div class="triangle-right" {{action 'getQuestion'}}>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-5 userInput">
        {{#if isAnswering}}
            {{show-question-form submit=(action 'submit')}}
        {{else}}
          <div id="userAnswer" class="content-box">
            {{userAnswer.content}}
          </div>
        {{/if}}
      </div>

        {{#unless isAnswering}}
          <div class="col-lg-7 previousAnswers">
          {{#each answers as |answer|}}
            <div class="row">
              <div class="col-lg-10 content-box previousAnswer">
                <p>{{answer.content}}</p>
                <div class="col-sm-4 drew-box">
                <p>Votes: {{answer.voteCount}}
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  Likes: {{answer.voteScore}}</p>
                </div>
              </div>
              <div class="col-lg-1">
                <div class="triangle-up" {{action "upVote" answer}}>
                </div>
                <div class="triangle-down" {{action "downVote" answer}}>
                </div>
              </div>
            </div>
          {{/each}}
          </div>
        {{/unless}}

      {{outlet}}
    </div>
</div>
